mixin comment(comment)
    div.comment-box(data-id=comment.id, data-owner=comment.owner, data-video=comment.video)

        div.comment-owner-img
            img(src=comment.ownerProfilePic, crossorigin="anonymous")  

        div.comment-box__top
            span.comment-owner #{comment.ownerName}
            span.comment-createdAt #{comment.createdAt}

        div.comment-text #{comment.text}
        div.ellipsis(data-owner=comment.owner)
            i.fa-solid.fa-ellipsis-vertical

        div.comment-box__bottom
            div.like-btns
                i.far.fa-thumbs-up
                i.far.fa-thumbs-down

            span.reply reply