mixin video(video)
    div.video-block
        a.image-link(href=`/videos/${video.id}`)        
            img.thumb(src=`/${video.thumbPath}`, crossorigin) 
        a.title-link(href=`/videos/${video.id}`)
            span.title=video.title 
        div.video-meta
            span.views #{video.meta.views} views
            span.date=video.createdAt

