extends ../base.pug

block content 
    if errorMessage 
        span.errorMessage=errorMessage

    form(method="POST").submit-form
        div.title
            label(for="title") Title
            input(name="title", placeholder="Video Title", value=video.title, required )
        div.description
            label(for="description") Description
            input(name="description", placeholder="Description", value=video.description )
        div.hashtags
            label(for="hashtags") Hashtags
            input(name="hashtags", placeholder="Hashtags, separated by comma.", value=video.hashtags.join(),)
        input.save-btn(value="Save", type="submit")

        div.dangerous-zone 
            span Dangerous Zone       
            a.round-btn(href=`/videos/${video.id}/delete`) Delete Video &rarr;
        