.nav 
        input#check_box(type="checkbox")
        div.hamburger#nav_background
        label.hamburger(for="check_box") 
            span
            span
            span
        
        div.side_bar
            div.logo-area
                img(src="https://pixtube.s3.ap-northeast-2.amazonaws.com/youtube-logo.png", height="40", crossorigin="anonymous")
                span PixTube

            ul.contents
                a(href="/") 
                    i.fas.fa-home
                    span="Home"
                a(href="/videos")
                    i.fas.fa-video
                    span="Videos"
                hr
                a 
                    i.fas.fa-photo-video
                    span="Library"
                a 
                    i.fas.fa-history
                    span="Histroy"
                
                hr
                if loggedInUser
                    a(href=`/user/${loggedInUser._id}`)  
                        i.fas.fa-video
                        span="Your videos"
                    a(href=`/user/${loggedInUser._id}`)
                        i.fas.fa-wrench
                        span="Settings"

                a(href="mailto: youredith@gmail.com")
                    i.far.fa-envelope
                    span="Send feedback"


                p &copy; #{new Date().getFullYear()} PixTube by youredith
                    
