extends ../base

block content 
    span.errorMessage=errorMessage
    img(src=loggedInUser.profilePicPath, height="100", crossorigin="anonymous")
    form(method="POST", enctype="multipart/form-data")
        label(for="profile_pic") Picture 
        input(id="profile_pic", type="file", name="profile_pic", accept="image/*")       
        input(placeholder="e-mail", type="email", name="email", value=loggedInUser.email)        
        input(placeholder="username", type="text", name="username", value=loggedInUser.username)
        input(placeholder="location", type="text", name="location", value=loggedInUser.location)
        input(type="submit", value="Complete edit")
        if !loggedInUser.socialOnly
            a(href="/user/change_password") Change password

