extends ../base

block content 
    span.errorMessage=errorMessage
         
    form(method="POST", enctype="multipart/form-data").submit-form
        div.profile-pic
            label.subtitle(for="profile_pic") My profile picture 
            input.edit_page(id="profile_pic", type="file", name="profile_pic", accept="image/*")       
            div.profile-img.large
                if loggedInUser.socialOnly || loggedInUser.noAvatar
                    img.avatar.large#editProfile(src=loggedInUser.profilePicPath, crossorigin="anonymous")
                else
                    img.avatar.large(src="/" + loggedInUser.profilePicPath, crossorigin="anonymous")
        div.email    
            label.subtitle(for="email") Email 
            input(placeholder="e-mail", type="email", name="email", value=loggedInUser.email)    
        div.username 
            label.subtitle(for="username") User name       
            input(placeholder="username", type="text", name="username", value=loggedInUser.username)
        div.location 
            label.subtitle(for="location") Location       
            input(placeholder="location", type="text", name="location", value=loggedInUser.location)
        input.save-btn(type="submit", value="Complete edit")
        
        if !loggedInUser.socialOnly
            div.change-pw 
                a.round-btn(href="/user/change_password") Change password

